.footer {
    width: 100%;
    background-color: #F5F5F7;
}
.footer1 {
    width: 80%;
    margin: auto;
}
.footer1 > p {
    font-size: 16px;
    margin-top: 10px;
    color: gray;
    text-align: left;
}
.footer2 {
    padding-top: 30px;
}
.footer3 {
    width: 100%;
    padding-top: 20px;
}
.footer3 > div {
    width: 80%;
    margin: auto;
    border: 1px solid gray;
    opacity: 0.2;
}
.footer4 {
    width: 100%;
    margin-top: 20px;
}
.footer5 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer5 > div > h3 {
    font-size: 14px;
}
.footer5 > div > h2 {
    font-size: 14px;
    margin-top: 30px;
}
.footer5 > div > p {
    font-size: 12px;
}
