.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    top: 0;
    left: 0;
    position: sticky;
}
.navbar1 {
    width: 70%;
    margin: auto;
    height: 40px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    color: rgb(173, 169, 169);
    font-size: 12px;
}
.navbar1 > p {
    margin-top: 17px;
}
.ipro {
    width: 100%;
    height: 100px;
    /* border: 1px solid blue; */
    background-color: #1D1D1F;
    margin-top: -20px;
}
.ipro1 {
    width: 50%;
    margin: auto;
    /* border: 1px solid red; */
}
.ipro2 {
    color: white;
    font-size: 18px;
    padding-top: 20px;
}
.ipro3 {
    display: flex;
    color: white;
    margin-left: 27%;
    margin-top: -40px;
    font-size: 18px;
}
.ipro3 > p:nth-child(2) {
    color: #145fe1;
}
.ipro4 {
    width: 100%;
    height: 600px;
    background-image: url(https://www.apple.com/v/iphone-15-pro/b/images/overview/welcome/hero_endframe__ov6ewwmbhiqq_large.jpg);
    background-size: contain;
    background-position: center;
    margin-top: -30px;
}
.ipro4 > h1 {
    color: gray;
    padding-top: 80px;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 500;
}
.ipro4 > button {
    width: 90px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    margin-top: 300px;
}
.ipro4 > p {
    color: white;
    font-size: 25px;
    font-weight: bold;
}.ipro5 {
    width: 100%;
    height: 1100px;
    border: 1px solid red;
    background-color: #101010;
}
.ipro6 {
    width: 80%;
    margin: auto;
    border: 1px solid blue;
    height: 850px;
}
.ipro6 > h1 {
    font-size: 55px;
    margin-top: 130px;
    text-align: left;
    color: white;
}
.ipro7 {
    display: flex;
    margin-left: 65%;
    margin-top: -95px;
}
.ipro7 > p:nth-child(1) {
    font-size: 22px;
    color: #1361e7;
}
.ipro7 > p:nth-child(2) {
    margin-left: 10px;
    font-size: 22px;
}
.ipro7 > p:nth-child(3) {
    font-size: 22px;
    margin-left: 35px;
    color: #1361e7;
}
.ipro7 > p:nth-child(4) {
    font-size: 22px;
    margin-left: 10px;
}
.ipro8 {
    background-image: url(https://www.apple.com/v/iphone-15-pro/b/images/overview/highlights/video/highlights_action_button_endframe__gewegw9gajee_large.jpg);
    width: 100%;
    height: 600px;
    margin-top: 30px;
}
.ipro8 > p {
    color: white;
    text-align: left;
    font-size: 25px;
    margin-left: 30px;
    font-weight: 600;
}
.ipro8 > p:nth-child(1) {
    margin-top: 10px;
}
.ipro8 > p:nth-child(2) {
    margin-top: -25px;
}
.ipro9 > button {
    width: 170px;
    height: 60px;
    background-color: #2E2E30;
    border-radius: 30px;
    margin-top: 110px;
    margin-left: 45%;
}
.ipro9 > button > p:nth-child(1) {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin-left: 20px;
    margin-top: 50px;
}