.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    top: 0;
    left: 0;
    position: sticky;
}
.navbar1 {
    width: 70%;
    margin: auto;
    height: 40px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    color: rgb(173, 169, 169);
    font-size: 12px;
}
.navbar1 > p {
    margin-top: 17px;
}
.ipro {
    width: 100%;
    height: 100px;
    /* border: 1px solid blue; */
    background-color: #1D1D1F;
    margin-top: -20px;
}
.ipro1 {
    width: 50%;
    margin: auto;
    /* border: 1px solid red; */
}
.ipro2 {
    color: white;
    font-size: 18px;
    padding-top: 20px;
}
.ipro3 {
    display: flex;
    color: white;
    margin-left: 27%;
    margin-top: -40px;
    font-size: 18px;
}
.ipro3 > p:nth-child(2) {
    color: #145fe1;
}
.ipro4 {
    width: 100%;
    height: 600px;
    background-image: url(https://www.apple.com/v/iphone-15-pro/b/images/overview/welcome/hero_endframe__ov6ewwmbhiqq_large.jpg);
    background-size: contain;
    background-position: center;
    margin-top: -30px;
}
.ipro4 > h1 {
    color: gray;
    padding-top: 80px;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 500;
}
.ipro4 > button {
    width: 90px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    margin-top: 300px;
}
.ipro4 > p {
    color: white;
    font-size: 25px;
    font-weight: bold;
}.ipro5 {
    width: 100%;
    height: 1100px;
    border: 1px solid #101010;
    background-color: #101010;
}
.ipro6 {
    width: 80%;
    margin: auto;
    /* border: 1px solid blue; */
    height: 850px;
}
.ipro6 > h1 {
    font-size: 55px;
    margin-top: 130px;
    text-align: left;
    color: white;
}
.ipro7 {
    display: flex;
    margin-left: 65%;
    margin-top: -95px;
}
.ipro7 > p:nth-child(1) {
    font-size: 22px;
    color: #1361e7;
}
.ipro7 > p:nth-child(2) {
    margin-left: 10px;
    font-size: 22px;
}
.ipro7 > p:nth-child(3) {
    font-size: 22px;
    margin-left: 35px;
    color: #1361e7;
}
.ipro7 > p:nth-child(4) {
    font-size: 22px;
    margin-left: 10px;
}
.ipro8 {
    background-image: url(https://www.apple.com/v/iphone-15-pro/b/images/overview/highlights/video/highlights_action_button_endframe__gewegw9gajee_large.jpg);
    width: 100%;
    height: 600px;
    margin-top: 30px;
}
.ipro8 > p {
    color: white;
    text-align: left;
    font-size: 25px;
    margin-left: 30px;
    font-weight: 600;
}
.ipro8 > p:nth-child(1) {
    margin-top: 10px;
}
.ipro8 > p:nth-child(2) {
    margin-top: -25px;
}
.ipro9 {
    display: flex;
}
.ipro9 > button {
    width: 200px;
    height: 50px;
    background-color: #2E2E30;
    border-radius: 30px;
    margin-top: 110px;
    border: none;
    display: flex;
    margin-left: 40%;
}
.ipro9 > button > p:nth-child(1) {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
}
.ipro9 > button > p:nth-child(2) {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
}
.ipro9 > button > p:nth-child(3) {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
}
.ipro9 > button > p:nth-child(4) {
    width: 60px;
    height: 10px;
    border-radius: 20px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
}
.ipro9 > div {
    margin-left: 20px;
    font-size: 47px;
    margin-top: 57px;
}
.ipro10 {
    width: 100%;
    height: 1000px;
    background-color: #101010;
}
.ipro11 {
    width: 80%;
    margin: auto;
    border: 1px solid #101010;
    height: 1000px;
}
.ipro11 > h1 {
    font-size: 60px;
    margin-top: 130px;
    font-weight: 500;
    color: white;
    text-align: left;
    letter-spacing: -2px;
}
.ipro11 > img {
    margin-top: 50px;
}
.ipro11 > p {
    margin-top: 80px;
    font-size: 14px;
    color: white;
}
.ipro11 > button {
    width: 240px;
    height: 50px;
    background-color: #2E2E30;
    border-radius: 30px;
    border: none;
    display: flex;
    margin-left: 40%;
}
.ipro11 > button > p:nth-child(1) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(22, 20, 20);
    margin-left: 10px;
    margin-top: 10px;
}
.ipro11 > button > p:nth-child(2) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(166, 100, 100);
    margin-left: 15px;
    margin-top: 10px;
}
.ipro11 > button > p:nth-child(3) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(87, 8, 8);
    margin-left: 15px;
    margin-top: 10px;
}
.ipro11 > button > p:nth-child(4) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(95, 117, 40);
    margin-left: 15px;
    margin-top: 10px;
}
.ipro11 > button > p:nth-child(5) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    margin-left: 15px;
    margin-top: 10px;
}
.ipro12 {
    width: 100%;
    height: 2300px;
    background-color: #101010;
}
.ipro13 {
    width: 80%;
    margin: auto;
    border: 2px solid #101010;
    height: 2300px;
}
.ipro13 > h2 {
    margin-top: 200px;
    font-size: 50px;
    color: white;
    text-align: left;
    font-weight: 500;
}
.ipro14 > h1:nth-child(1) {
    margin-top: 170px;
    text-align: left;
    font-size: 70px;
    margin-left: 100px;
    color: white;
}
.ipro14 > h1:nth-child(2) {
    text-align: left;
    font-size: 70px;
    margin-left: 100px;
    color: white;
    margin-top: -60px;
}
.ipro15 {
    width: 80%;
    margin: auto;
    /* border: 1px solid white; */
    height: 1120px;
}
.ipro15 > div:nth-child(1) {
    width: 100%;
    height: 500px;
    /* border: 1px solid blue; */
    margin-top: 100px;
}
.ipro15 > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}
.ipro15 > div:nth-child(2) > p:nth-child(1) {
    width: 49%;
    height: 500px;
    /* border: 1px solid red; */
}
.ipro15 > div:nth-child(2) > p:nth-child(2) {
    width: 49%;
    height: 350px;
    /* border: 1px solid red; */
}
.ipro16 {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.ipro16 > p:nth-child(1) {
    width: 30%;
    /* border: 1px solid blue; */
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-left: 130px;
}
.ipro16 > p:nth-child(2) {
    width: 30%;
    /* border: 1px solid red; */
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-right: 130px;
}
.ipro13 > button {
    width: 320px;
    height: 60px;
    background-color: #2E2E30;
    border-radius: 30px;
    border: none;
    display: flex;
    margin-left: 40%;
    margin-top: 100px;
}
.ipro13 > button > p:nth-child(1) {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-top: 17px;
}
.ipro13 > button > p:nth-child(2) {
    font-size: 40px;
    margin-left: 15px;
    margin-top: 7px;
}
.ipro17 {
    width: 100%;
    height: 1950px;
    background-color: #101010;
}
.ipro18 {
    width: 80%;
    margin: auto;
    border: 2px solid #101010;
    height: 1950px;
}
.ipro18 > img {
    width: 100%;
    height: 100%;
    margin-top: 250px;
    /* border: 1px solid white; */
}
.ipro19 {
    margin-top: 100px;
}
.ipro19 > p:nth-child(1) {
    font-size: 70px;
    color: white;
    font-weight: 600;
    letter-spacing: -2px;
}
.ipro19 > p:nth-child(2) {
    font-size: 70px;
    color: white;
    font-weight: 600;
    letter-spacing: -2px;
    margin-top: -80px;
}
.ipro19 > p:nth-child(3) {
    font-size: 25px;
    color: gray;
    font-weight: 500;
    margin-top: -40px;
}
.ipro20 {
    width: 80%;
    margin: auto;
    /* border: 1px solid blue; */
    height: 500px;
}
.ipro20 > p {
    width: 100%;
    height: 480px;
    background-image: url(https://www.apple.com/v/iphone-15-pro/b/images/overview/chip/chip_performance_hw__6ytcie74ao22_large.png);
    background-size: contain;
}
.ipro20 > p > img {
    border-radius: 50px;
    margin-top: 22px;
}
.ipro21 {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.ipro21 > div:nth-child(1) {
    width: 30%;
    /* border: 1px solid blue; */
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-left: 130px;
}
.ipro21 > div:nth-child(2) {
    width: 30%;
    color: white;
    text-align: left;
}
.ipro21 > div:nth-child(2) > p:nth-child(1) {
    font-size: 25px;
    color: gray;
}
.ipro21 > div:nth-child(2) > p:nth-child(2) {
    font-size: 50px;
    margin-top: -30px;
    font-weight: 600;
}
.ipro21 > div:nth-child(2) > p:nth-child(3) {
    font-size: 25px;
    color: gray;
    margin-top: -50px;
}
.ipro18 > button {
    width: 300px;
    height: 60px;
    background-color: #2E2E30;
    border-radius: 30px;
    border: none;
    display: flex;
    margin-left: 40%;
    margin-top: 100px;
}
.ipro18 > button > p:nth-child(1) {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-top: 17px;
}
.ipro18 > button > p:nth-child(2) {
    font-size: 40px;
    margin-left: 15px;
    margin-top: 7px;
}
.ipro22 {
    width: 100%;
    background-color: #101010;
}
.ipro23 {
    width: 60%;
    margin: auto;
    border: 2px solid #101010;
    height: 500px;
}
.ipro23 > h1 {
    margin-top: 150px;
    font-size: 64px;
    font-weight: bold;
    color: white;
    text-align: left;
}
.ipro23 > h3 {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    color: gray;
    margin-top: -5px;
}
.ipro23 > p {
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    color: white;
}
.ipro24 {
    width: 75%;
    height: 770px;
    margin-left: 20%;
    /* border: 1px solid red; */
    margin-right: 10%;
}
.ipro25 {
    width: 60%;
    margin: auto;
    /* border: 1px solid blue; */
}
.ipro25 > p:nth-child(1) {
    color: white;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}
.ipro25 > p:nth-child(2) {
    color: white;
    width: 30%;
    margin-left: 130px;
    text-align: left;
    font-size: 20px;
    margin-top: 160px;
    font-weight: 500;
}
.ipro25 > p:nth-child(3) {
    width: 70%;
    margin: auto;
    height: 500px;
    /* border: 1px solid blue; */
    margin-top: 30px;
}
.ipro25 > p:nth-child(4) {
    color: white;
    font-size: 18px;
}
.ipro26 {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    height: 700px;
}
.ipro26 > div:nth-child(1) {
    width: 45%;
    height: 700px;
}
.ipro26 > div:nth-child(2) {
    width: 45%;
    height: 700px;
    margin-top: 120px;
}
.ipro26 > div:nth-child(2) > p:nth-child(1) {
    color: gray;
    font-size: 20px;
}
.ipro26 > div:nth-child(2) > p:nth-child(2) {
    color: gray;
    font-size: 20px;
}
.ipro27 {
    border: 1px solid gray;
    margin-top: 60px;
}
.ipro25 > button {
    margin-top: 140px;
    width: 450px;
    height: 40px;
    color: gray;
    border: 1px solid gray;
    border-radius: 30px;
    background-color: black;
    font-size: 20px;
}
.ipro25 > h1 {
    font-size: 35px;
    color: white;
    font-weight: bold;
}
.ipro28 > button {
    width: 300px;
    height: 60px;
    background-color: #2E2E30;
    border-radius: 30px;
    border: none;
    display: flex;
    margin-left: 33%;
    margin-top: 100px;
}
.ipro28 > button > p:nth-child(1) {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-top: 17px;
}
.ipro28 > button > p:nth-child(2) {
    font-size: 40px;
    margin-left: 15px;
    margin-top: 7px;
}
.ipro29 {
    width: 100%;
    background-color: #101010;
}
.ipro30 {
    width: 70%;
    margin: auto;
    border: 2px solid #101010;
}
.ipro30 > p:nth-child(1) {
    margin-top: 200px;
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.ipro30 > p:nth-child(2) {
    width: 100%;
    height: 600px;
}
.ipro31 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.ipro31 > div:nth-child(1) {
    width: 30%;
    margin-left: 130px;
    color: white;
}
.ipro31 > div:nth-child(1) > p:nth-child(1) {
    font-size: 22px;
    font-weight: 500;
    text-align: left;
}
.ipro31 > div:nth-child(1) > p:nth-child(2) {
    font-size: 22px;
    font-weight: 500;
    text-align: left;
}
.ipro31 > div:nth-child(2) {
    width: 30%;
    margin-right: 130px;
    color: white;
    margin-left: 100px;
}
.ipro31 > div:nth-child(2) > p:nth-child(1) {
    text-align: left;
    font-size: 35px;
    font-weight: bold;
}
.ipro31 > div:nth-child(2) > p:nth-child(2) {
    text-align: left;
    font-size: 20px;
    margin-top: -25px;
    color: gray;
}
.ipro30 > button {
    width: 320px;
    height: 60px;
    background-color: #2E2E30;
    border-radius: 30px;
    border: none;
    display: flex;
    margin-left: 33%;
    margin-top: 100px;
}
.ipro30 > button > p:nth-child(1) {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-top: 17px;
}
.ipro30 > button > p:nth-child(2) {
    font-size: 40px;
    margin-left: 15px;
    margin-top: 7px;
}
.ipro32 {
    width: 100%;
    background-color: #101010;
}
.ipro33 {
    width: 70%;
    margin: auto;
    border: 2px solid #101010;
}
.ipro33 > p:nth-child(1) {
    margin-top: 200px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: left;
}
.ipro33 > p:nth-child(2) {
    width: 100%;
    height: 700px;
}
.ipro33 > button {
    width: 280px;
    height: 60px;
    background-color: #2E2E30;
    border-radius: 30px;
    border: none;
    display: flex;
    margin-left: 33%;
    margin-top: 100px;
}
.ipro33 > button > p:nth-child(1) {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-top: 17px;
}
.ipro33 > button > p:nth-child(2) {
    font-size: 40px;
    margin-left: 15px;
    margin-top: 7px;
}
.ipro34 {
    width: 100%;
    height: 600px;
    background-image: url(https://www.apple.com/v/iphone-15-pro/b/images/overview/safety/safety__e3szr7wtega6_large.jpg);
    margin-top: 150px;
}
.ipro34 > h1 {
    font-size: 50px;
    color: white;
    text-align: left;
    padding-top: 140px;
    margin-left: 130px;
}
.ipro35 {
    display: flex;
    justify-content: space-around;
}
.ipro35 > p:nth-child(1) {
    width: 30%;
    text-align: left;
    font-size: 20px;
    color: white;
}
.ipro35 > p:nth-child(2) {
    width: 30%;
    text-align: left;
    font-size: 20px;
    color: white;
}
.ipro36 > button {
    width: 320px;
    height: 60px;
    background-color: #2E2E30;
    border-radius: 30px;
    border: none;
    display: flex;
    margin-left: 33%;
    margin-top: 100px;
}
.ipro36 > button > p:nth-child(1) {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-top: 17px;
}
.ipro36 > button > p:nth-child(2) {
    font-size: 40px;
    margin-left: 15px;
    margin-top: 7px;
}
.ipro37 {
    width: 100%;
    height: 150px;
    background-color: #101010;
}



.footer {
    width: 100%;
    background-color: #F5F5F7;
}
.footer1 {
    width: 80%;
    margin: auto;
}
.footer1 > p {
    font-size: 16px;
    margin-top: 10px;
    color: gray;
    text-align: left;
}
.footer2 {
    padding-top: 30px;
}
.footer3 {
    width: 100%;
    padding-top: 20px;
}
.footer3 > div {
    width: 80%;
    margin: auto;
    border: 1px solid gray;
    opacity: 0.2;
}
.footer4 {
    width: 100%;
    margin-top: 20px;
}
.footer5 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer5 > div > h3 {
    font-size: 14px;
}
.footer5 > div > h2 {
    font-size: 14px;
    margin-top: 30px;
}
.footer5 > div > p {
    font-size: 12px;
}