.navbar {
    width: 100%;
    height: 50px;
    background-color: white;
    /* top: 0;
    left: 0;
    position: sticky; */
}
.navbar1 {
    width: 70%;
    margin: auto;
    height: 40px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 12px;
}
.navbar1 > p {
    margin-top: 17px;
}




.login {
    width: 100%;
    background-color: white;
}
.login1 {
    width: 100%;
    height: 600px;
    /* border: 1px solid blue; */
}
.login2 {
    width: 70%;
    margin: auto;
    height: 70px;
    /* border: 1px solid black; */
}
.login2 > h1 {
    font-size: 35px;
    text-align: left;
    font-weight: 700;
}
.login2 > h3 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 80px;
}
.login3 {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
    height: 50px;
    border: 2px solid blue;
    border-radius: 8px;
    margin-top: 50px;
}
.login3 > div:nth-child(1) > p:nth-child(1) {
    margin-left: 20px;
    margin-top: 5px;
    color: gray;
    font-size: 14px;
}
.login3 > div:nth-child(1) > p:nth-child(2) {
    margin-top: -13px;
    margin-right: 5px;
}
.login3 > div:nth-child(2) {
    margin-top: -10px;
    margin-right: 10px;
}
.login3 > div:nth-child(2) > p {
    font-size: 25px;
}
.login4 {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
    height: 50px;
    border: 2px solid blue;
    border-radius: 8px;
    margin-top: 20px;
}
.login4 > div:nth-child(1) > p:nth-child(1) {
    margin-left: 20px;
    margin-top: 5px;
    color: gray;
    font-size: 14px;
}
.login4 > div:nth-child(1) > p:nth-child(2) {
    margin-top: -13px;
    margin-right: 35px;
}
.login4 > div:nth-child(2) {
    margin-top: -10px;
    margin-right: 10px;
}
.login4 > div:nth-child(2) > p {
    font-size: 25px;
}
.login5 {
    display: flex;
    margin-top: 20px;
    width: 500px;
    margin: auto;
}
.login5 > p:nth-child(1) {
    width: 16px;
    height: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 23px;
}
.login5 > p:nth-child(2) {
    margin-left: 8px;
    font-size: 18px;
}
.login6 {
    display: flex;
    margin-top: 10px;
    width: 500px;
    margin: auto;
}
.login6 > p:nth-child(1) {
    margin-left: 40%;
    color: #306acf;
    font-size: 16px;
}
.login6 > p:nth-child(2) {
    margin-left: 8px;
    font-size: 18px;
}
.login7 {
    display: flex;
    width: 500px;
    margin: auto;
    margin-top: -23px;
}
.login7 > p:nth-child(1) {
    margin-left: 22%;
    color: gray;
    font-size: 16px;
}
.login7 > p:nth-child(2) {
    margin-left: 8px;
    color: #306acf;
    font-size: 16px;
}
.login7 > p:nth-child(3) {
    margin-left: 8px;
    font-size: 18px;
}
.login8 {
    border: 1px solid gray;
    opacity: 0.2;
    margin-top: 0px;
}
.login9 {
    width: 100%;
    height: 60px;
}
.login10 {
    width: 70%;
    margin: auto;
    display: flex;
}
.login10 > p:nth-child(1) {
    font-size: 18px;
}
.login10 > p:nth-child(2) {
    font-size: 18px;
    color: #306acf;
    margin-left: 8px;
}
.login10 > p:nth-child(3) {
    margin-left: 8px;
    font-size: 18px;
}
.login11 {
    width: 100%;
    height: 120px;
    background-color: #F5F5F7;
}
.login12 {
    width: 70%;
    margin: auto;
}
.login13 {
    display: flex;
}
.login13 > p:nth-child(1) {
    font-size: 12px;
    color: gray;
}
.login13 > p:nth-child(2) {
    font-size: 12px;
    margin-left: 8px;
    text-decoration-line: underline;
}
.login14 {
    display: flex;
    font-size: 12px;
    margin-top: -12px;
}
.login14 > p:nth-child(1) {
    color: gray;
}
.login14 > p:nth-child(2) {
    color: #306acf;
    text-decoration-line: underline;
    margin-left: 3px;
}
.login14 > p:nth-child(3) {
    color: gray;
    margin-left: 3px;
}
.login14 > p:nth-child(4) {
    color: #306acf;
    text-decoration-line: underline;
    margin-left: 3px;
}
.login14 > p:nth-child(5) {
    color: gray;
    margin-left: 3px;
}
.login15 {
    height: 30px;
    display: flex;
    /* border: 1px solid blue; */
    margin-top: -8px;
}
.login15 > p {
    margin-top: -2px;
}
.login15 > p:nth-child(1) {
    font-size: 12px;
    color: gray;
}
.login15 > p:nth-child(2) {
    font-size: 12px;
    margin-left: 35px;
}
.login15 > p:nth-child(3) {
    border: 1px solid gray;
    margin-left: 20px;
}
.login15 > p:nth-child(4) {
    font-size: 12px;
    margin-left: 20px;
}
.login15 > p:nth-child(5) {
    border: 1px solid gray;
    margin-left: 20px;
}
.login15 > p:nth-child(6) {
    font-size: 12px;
    margin-left: 20px;
}
.login15 > p:nth-child(7) {
    border: 1px solid gray;
    margin-left: 20px;
}
.login15 > p:nth-child(8) {
    font-size: 12px;
    margin-left: 20px;
}
.login15 > p:nth-child(9) {
    border: 1px solid gray;
    margin-left: 20px;
}
.login15 > p:nth-child(10) {
    font-size: 12px;
    margin-left: 20px;
}
.login15 > p:nth-child(11) {
    margin-left: 200px;
    font-size: 12px;
}